
body{
  background-color: rgb(192, 240, 178);

}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    
}
#root{
  padding-top:20px;
  
}
#content{
  padding:10%;
}
#input{
  display: inline;
}