

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#root{
  padding-top:20px;
}
#content{
  padding-top:880px;
  background-color:red;
}
#input{
  display: inline;
}